extends includes/_layout1.pug

block  header
    +header('header-background-2')

block content
    section(class="co-main-login")
        div(class="co-1")
            div(class="co-form-2")
                form(action="")
                    div(class="input-group")
                        input(type="الباسورد"  placeholder="كلمة المرور")
                        span(class="span-icon")
                            <i class="fas fa-lock"></i>
                    div(class="input-group")
                        input(type="الباسورد"  placeholder="تأكيد كلمة المرور")
                        span(class="span-icon")
                            <i class="fas fa-lock"></i>
                    input(type="submit" value="دخول" class="btn-login hvr-bounce-in")
                    p(class="para-alert-1")
                        | يرجى العلم ان الكود المستخدم صالح للأستخدام مرة واحدة فقط
                        
            div(class="co-img")
                div(class="co-img-2")
                    img(src=img + "group-24.png", alt="")
